<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listing des ventes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="add-section">
    <ion-fab-button (click)="addSaleModal()"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
  </div>

  <div id="container">
     <!-- Default Searchbar -->
     <ion-searchbar (ionChange)="listenInput(inputSearch)" [(ngModel)]="inputSearch" placeholder="Rechercher"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of tabcust">
        <ion-label (click)="getDetailView( item.person_id)"> {{item.name}} | {{item.sale_date}} | {{tPrice}} </ion-label> 
      </ion-item>
    </ion-list>
  </div>
</ion-content>
